extends ../layout

block content
  .page-header
    h1 Application Statistics

  #memory_usage(style="width: 100%; height: 350px;")

  #time(style="width: 100%; height: 250px;")

  script.
    showMemoryStats('memory_usage', [#{stats.data.__memory}], [#{stats.data.__loaded}]);

    showTimeStats('time', [#{stats.data.__tpm}]);
