extends ../layout

block content
  .page-header
    h1 File name: «#{file.originalname}»

  if !file.processed_at
    .lead#time_area(data-created-at=file.created_at)
      strong
        span [
        span 00:00:000
        span ]

      span  Parsing...

    #parsed_area

    script.
      (function() {
        var $area = $('#time_area');
        var createdAt = parseInt($area.data('created-at'));
        var status_message = 'Parsing...';

        var updateTime = function() {
          var diff = moment(moment().diff(createdAt)).format('mm:ss:SSS')

          $area.html('<strong>[' + diff + ']</strong> <span>' + status_message + '</span>');
        };

        var timer = setInterval(updateTime, 5);

        socket = io.connect('http://localhost:3535/#{file.name}');
        socket.on('parsed', function() {
          status_message = 'Parsed! Processing...';
        });
        socket.on('done', function (data) {
          clearInterval(timer);
          $area.find('> span').html(' Done')
          $('#parsed_area').html(data.table);
        });
      })();

  else
    .lead
      span Done

    #parsed_area
      != table
